.container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 15rem auto;
    padding: 10px;
    gap: 5px;
    border: 1px solid black;
}

.line-one {
    display: flex;
    gap:10px;
}

#back-space {
    width:35%;
}